:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

.navigation-bar {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

h1 {
  font-family: Monoton;
  text-transform: uppercase;
}

.input-wrapper {
  display: flex;
}

.search-wrapper {
  position: relative;
}

.search-results {
  position: absolute !important;
  top: 25px;
  left: 0;
}

.list-container {
  margin: 2rem 4rem;
}
