:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  height: 100%;
}

#app {
  position: relative;
}

.navigation-bar {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

h1 {
  font-family: Monoton;
  text-transform: uppercase;
  line-height: 1;
}

.input-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.search-wrapper {
  position: relative;
  height: 100%;
}
.search-wrapper input {
  height: 100%;
}

.search-wrapper input {
  margin-right: 0.5rem;
  padding-left: 0.5rem;
}
.input-wrapper button {
  padding: 0.5rem !important;
}
.search-results {
  position: absolute !important;
  top: 45px;
  left: 0;
}

.list-container {
  margin: 2rem 4rem;
}

.movie-container {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.movie-item {
  padding: 0.5rem;
  cursor: pointer;
  min-height: 175px;
}

.movie-item .description {
  margin-top: 0.5rem;
}

.movie-item img {
  float: left;
  margin: 0.5rem 0.5rem 0 0;
}
